/* .menuButton {
  background-color: #191919;
  color: #e4e8ed;
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 20rem;
  cursor: pointer;
}

.openMenu {
} */
